<div class="containerproductlist">
  <div class="titleContainer">
    <h1><b>Shopping cart</b></h1>
  </div>

  <div class="results-container">
    <app-cart-cards *ngFor="let i_product of s_founded | paginate : { itemsPerPage: 9,
                              currentPage: page}" [product]="i_product"></app-cart-cards>
  </div>

  <ng-container *ngIf="founded! > 0; else noProductsFound">
    <br />
    <div class="found">
      <h4 class="result_text">Total: ${{ totaPrice }}</h4>
    </div>
  </ng-container>

  <ng-template #noProductsFound>
    <div class="found">
      <h4 class="result_text">There is no items yet, please consider to add one</h4>
    </div>
  </ng-template>

  <button  *ngIf="founded! === 0" mat-raised-button class="submit-button bg-info" routerLink="">Add</button>

  <pagination-controls class="pagination" (pageChange)="page = $event" previousLabel="Previous"
                                                                    nextLabel="Next"></pagination-controls>
</div>
