<nav>
  <mat-toolbar color="primary">
    <img
      class="logo"
      src="assets/images/pharmacy_logo.png"
      alt="Pharmacy"
      routerLink="/home"
    />
    <span class="logo-span" routerLink="/home" class="mr-2"> Pharmacy </span>

    <span class="spacer"></span>

    <button mat-icon-button routerLink="/cart">
      <mat-icon>shopping_cart</mat-icon>
    </button>

    <button mat-button color="warn" (click)="onClick()" *ngIf="isSession">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-toolbar>
</nav>
