/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Poppins', 'Helvetica Neue', sans-serif;
}
.bg-light {
  background-color: #fbfbfb;
}

// Contact page google map
.ll-google-map {
  .map-container {
    width: 100% !important;
    height: 400px !important;
  }
}

